<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="nl.bijdorpstudio.feature.search">

    <application>
        <activity
            android:name=".SearchActivity"
            android:theme="@style/Theme.MaterialComponents.Light.DarkActionBar" />
    </application>
</manifest>
